target/
.idea/
.vscode/
.classpath
.project
.settings/
*.iml
*.log
*.class
*.jar
*.war
*.ear
/.mvn/wrapper/maven-wrapper.jar
dependency-reduced-pom.xml
build/
.DS_Store
*.db
/.idea/
/.history/
env/
secrets//target
/.idea
*.log
.DS_Store
